target
v3.0
*.txt
wcdba_overrides.xml*.md
docs
.teamcity
.git
auto-build-error.txt
auto-build-output.txt
auto-kill-error.txt
auto-kill-output.txt
build-sql-script-error.txt
build-sql-script-output.txt
local_wcdba_overrides.xml
src/CWMS_AGG_DISTRICT_DATA_TABLE.log
src/CWMS_CITIES_SP_DATA_TABLE.log
src/CWMS_COUNTY_SP_DATA_TABLE.log
src/CWMS_NATION_SP_DATA_TABLE.log
src/CWMS_NID_DATA_TABLE.log
src/CWMS_OFFICES_GEOLOC_DATA_TABLE.log
src/CWMS_STATE_SP_DATA_TABLE.log
src/CWMS_STATION_NWS_DATA_TABLE.log
src/CWMS_STATION_USGS_DATA_TABLE.log
src/CWMS_TIME_ZONE_SP_DATA_TABLE.log
src/CWMS_USACE_DAM_DATA_TABLE.log
src/autobuild.sql
src/autokill.sql
src/buildCWMS_DB.log
src/cwms/defines.sql
src/data/radar_xslt_clobs.ctl
src/data/unit_alias_data.sql
src/dropCwms.sql
src/killCWMS_DB.log
src/mathComputations.pyc
src/py_BuildCwms.sql
src/py_ErocUsers.sql
src/py_Queues.sql
src/py_prompt.sql
src/qualityLoader.ctl
src/qualityLoader.log
src/radar_xslt_clobs.log
**/*.pyc
src/vertcon_clobs.log
src/updateScripts/*.log
build
bin
.teamcity/target
.project
.settings
**/.classpath
src/CWMS_VERTCON_1HEADER.log
src/CWMS_VERTCON_2DATA.log
src/test/data/locs/*.log
src/test/data/ratings/*.log
local_wcdba_overrides*.xml
populate_cwms_db_change_log.sql
src/py_admin_ErocUsers.sql
